
        <!-- Agrupar los enlaces de navegación, los formularios y cualquier
                otro elemento que se pueda ocultar al minimizar la barra -->

                <div class="pull-right">
                    <a href="{{PATH_CONTROLLER}}controladorAdmin.php?seccion=agregar-local" class="btn btn-primary">Agregar locales</a>
                    <a href="{{PATH_CONTROLLER}}controladorAdmin.php?seccion=listado-locales" class="btn btn-default">Ver mapa</a>
                </div>
                <div class="clearfix"></div>
       