{% extends "master.twig" %}

{% block head %}
    {{ parent() }}

    {% include 'script-mapa.twig' %}
{% endblock %}

{% block contenido %}
    <section class="container">
        <div class="row titulo">
            <div class="col-md-4">
                <div class="tit2">DONDE COMPRAR - Mapa</div>
            </div>
            <div class="col-md-8">
                {% if(logueado) %}
                    {% include 'desplegar-menu.twig' %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <input id="pac-input" class="controls" type="text" placeholder="Buscar">
        </div>
        <div class="row"> 
            <div class="col-md-4">
                <div class="listado">
                    <h4>Listado de locales</h4>
                    <ul class="listado-locales">
                        <!-- LOS INPUT TIENEN QUE ESTAR DENTRO DE FORMS C/U
                            AL HACERLO QUEDAN DESFASADOS
                        <li>
                            <p>Nombre del local <br> Calle 48 Nro 650, La Plata</p>
                            <input type="submit"  value ="Editar" class="btn btn-primary"></input>
                            <input type="submit"  value ="Cancelar" class="btn btn-default"></input>
                        </li>
                        <li>
                            <p>Nombre del local <br> Calle 48 Nro 650, La Plata</p>
                            <input type="submit"  value ="Editar" class="btn btn-primary"></input>
                            <input type="submit"  value ="Cancelar" class="btn btn-default"></input>
                        </li>
                        <li>
                            <p>Nombre del local <br> Calle 48 Nro 650, La Plata</p>
                            <input type="submit"  value ="Editar" class="btn btn-primary"></input>
                            <input type="submit"  value ="Cancelar" class="btn btn-default"></input>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mapa-locales" id="map_canvas" ></div>
            </div>
        </div>
        

    </section>
{% endblock %}