{% extends "master.twig" %}

{% block contenido %}
    <section class="container">
    	<div class="pagina-error">
	        <div class="tit2">Página de error</div>
	        <p>{% if(texto is defined) %}{{ texto }}{% else %}{% endif %}</p>
    	</div>
    </section>
{% endblock %}